.mat-form-field-container {
    display: inline-block;
    justify-content: space-evenly;
    height: 80%;
    width:50%;
    
  
    div {
      width: 50%;
    }
  
    
    .h3{
      padding-top: 12px;
    }  
    
    
  }

 